@model CreateMyTask;
@{

   

}
<div>
    <form method="Post" asp-controller="MyTask" asp-action="CreateTask">


        <div>
            <label class="category-label">Task Name</label>
            <input type="text" asp-for="@Model.TaskName">
            <span asp-validation-for="@Model.TaskName" class="text-danger"></span>
        </div>
        <div class="col-md-12 form-group">
            <label class="category-label">Description</label>
            <input type="text" asp-for="@Model.TaskDescription">
            <span asp-validation-for="@Model.TaskDescription" class="text-danger"></span>
        </div>
        <div class="col-md-12 form-group">
            <lable class="category-label">Category</lable>
            <select  asp-for="MyTaskStatusId">
                @{
                    foreach (var item in Model.Tasks)
                    {
                        <option value="@item.MyTaskStatusId">@item.Name</option>
                    }
                }
            </select>
        </div>

        <input type="submit" value="create" class="btn btn-primary" />

    </form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
		}
